@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    height: 100vh;
    width: 100vw;
}

@layer utilities {
    .nav-btn-hover {
        @apply absolute bottom-0 left-0 w-0 h-0.5 bg-slate-300 group-hover:w-full group-hover:transition-all;
    }
    .nav-float {
        @apply bg-[#000000b3] border-[0.01px] border-slate-400;
    }
    .hamburger-menu {
        @apply absolute right-0 top-0 w-[60%] h-screen p-4 pt-20 pb-10 bg-[#000000b3] font-potta rounded-md flex-col justify-between;
    }
    .animated-word {
        /* transform: translate3d(10px, 51px, -60px) rotateY(60deg) rotateX(-40deg);
        transform-origin: 200% 50% -170px !important;
        opacity: 1;
        z-index: 100; */
        transform:
            rotateX(-50deg)
            rotateZ(20deg);
        transform-style: preserve-3d;
        border-radius: 32px;
    }
    .highlight-tech {
        @apply text-red-500;
    }
    .box-1 {
        border-width: 3px 4px 3px 5px;
        border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
        transform: rotate(2deg);
    }
    .box-2 {
        border-width: 3px 3px 5px 5px;
        border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
        transform: rotate(-2deg);
      }
      
    .box-3 {
        border-width: 5px 3px 3px 5px;
        border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
        transform: rotate(2deg);
    }
}